Package: dev.copper.relayserver
Name: RelayServer
Version: @@VERSION@@
Architecture: iphoneos-arm
Depends: openssh
Description: OpenBubbles Relay Server - Headless Home Assistant Telemetry & Web Dashboard (@@VERSION@@, universal armv7s + arm64)
Maintainer: Copperboy100
Author: Copperboy100
Section: Utilities
Priority: optional
